<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body class="vsc-initialized" style="min-width: 100%;">
<table align="center" bgcolor="#ffffff" border="0" cellpadding="5" cellspacing="0" class="col600" height="100%" style="border: 1px solid rgb(236, 236, 236); border-image: none; width: 650px; color: rgb(0, 0, 0); font-family: arial,helvetica,sans-serif; font-size: 18px; font-weight: normal;" width="650">
	<tbody>
		<tr>
			<td class="col600" height="100%" style="padding: 10px;" width="100%"><!-- Header --><!-- Main banner -->
			<table align="center" border="0" cellpadding="10" cellspacing="0" style="font-size:18px;" width="100%">
				<tbody>
					<tr>
						<td class="Linksbiggerfont" target="new" width="100%">
						<p style="font-family: Arial, Helvetica, sans-serif; text-align: center;"><img alt="" src="https://lists.ammagroups.org/upload/107/images/Amma%20MACM%20Banner%2006.18.2020.png" style="width: 650px; height: 95px;" width="650" /></p>
							{{ body }}
						</td>
					</tr>
				</tbody>
			</table>

			<p style="text-align: center; font-size: 18px;"><span style="font-family:Georgia,serif;"><span style="color:#ffd700;"><strong>लोका: समस्ताः सुखिनो भवन्तु<br />
			Oṁ lokāḥ samastāḥ sukhino bhavantu<br />
			&quot;May all beings in all the worlds be peaceful and happy&quot;</strong></span></span></p>

			<p style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 18px;"><!-- article --></p>
			</td>
		</tr>
	</tbody>
</table>
<!-- footer --></body>
</html>
